.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000007e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 380px;
        height: 100%;
        max-height: 470px;
        background-color: $bg-color-white;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: $text-large;
        margin: 0 10px;
        cursor: auto;
        @include respond-to('middle') {
            max-width: 330px;
            max-height: 400px;
            font-size: $text-middle;
        }
    }
    &__title {
        color: $input-color;
        font-size: inherit;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }
    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        &+& {
            // height: 100%;
            flex: 1;
            margin-bottom: 15px;
        }
        &-input,
        &-textarea {
            width: 100%;
            height: 50px;
            color: $input-color;
            font-size: inherit;
            border: 1.5px solid $border-color;
            border-radius: 15px;
            padding: 5px 10px;
            @include respond-to('middle') {
                height: 45px;
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 4px 1px $label-color;
            }
            &::placeholder {
                color: $border-color;
            }
        }
        &-textarea {
            height: 100%;
            resize: none;
        }
        &.invalid {
            .modal__field-input,
            .modal__field-textarea {
                color: $invalid-color;
                box-shadow: 0 0 10px 1px $invalid-color;
            }
            .form__field-warning {
                color: $invalid-color;
                font-size: $sub-text-large;
                @include respond-to('middle') {
                    font-size: $sub-text-middle;
                }
                @include respond-to('mobile') {
                    font-size: $sub-text-mobile;
                }
            }
        }
    }
}