.notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 200px;
    min-height: 80px;
    background-color: $bg-color-white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: $sub-text-large;
    color: $primary-btn-color;
    animation: dropDown 2.5s ease;
    @include respond-to('middle') {
        font-size: $sub-text-middle;
        width: 150px;
    }
    @include respond-to('mobile') {
        font-size: $sub-text-mobile;
        width: 130px;
    }
    &__text {
        text-align: center;
    }
}

@keyframes dropDown {
    100% {
        transform: translate(-50%, 50%);
    }
}