.theme {
    &__field {
        height: 45px;
        &-select {
            height: 100%;
            cursor: pointer;
            color: $secondary-btn-color;
            border: 1.5px solid $border-color;
            border-radius: 15px;
            padding: 0 10px;
            font-size: $sub-text-large;
            &:focus {
                outline: none;
                box-shadow: 0 0 4px 1px $label-color;
            }
        }
    }
}

.yellow {
    .header-contener,
    .todos__item {
        background-color: yellow;
    }
}

.red {
    .header-contener,
    .todos__item {
        background-color: red;
    }
}

.gray {
    .header-contener,
    .todos__item {
        background-color: #c7eeee;
    }
}