// title text
$title-large: 3rem;
$title-middle: 2.5rem;
$title-mobile: 2rem;
//base text 
$text-large: 2.3rem;
$text-middle: 1.8rem;
$text-mobile: 1.2rem;
//sub text 
$sub-text-large: 1.8rem;
$sub-text-middle: 1.4rem;
$sub-text-mobile: 1rem;