// цвет для фона
$bg-color: #c7eeee;
$bg-color-white: #fff;
// цвет для границ
$border-color: #7a7a7a;
// цвета для input label
$label-color: #99befa;
// цвет для input value
$input-color: #000000;
// цвет невалидного значения
$invalid-color: #56221e;
// цвет для кнопки
$primary-btn-color: #1a1a0e;
$secondary-btn-color: #5b7bae;