@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './mixin/adaptive';
@import './constants/font-size';
@import './constants/global-variable';
@import './components/button';
@import './pages/authorization';
@import './components/notification';
html {
    height: 100%;
    font-size: 10px;
    * {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        height: 100%;
    }
}

.hide {
    display: none !important;
}